<!DOCTYPE html>
<html>

<head>
    <title><%= bloodDetail.patient_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1><%= bloodDetail.patient_name %></h1>
</body>

</html>